<h3>Cart Info</h3>

<div class="form-group">
<table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Count</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of productService.listProduct">
              <td>{{list.ProductID}}</td>
              <td>{{list.Name}}</td>
              <td>{{list.Brand}}</td>
              <td>{{list.Price|currency: 'VNĐ '}}</td>
              <td>
                {{list.Count}}
                <button class="btn btn-success btn-xs plus" (click)="add(productService.listProduct)"><i class="glyphicon glyphicon-plus">+</i></button>
                <button class="btn btn-danger btn-xs minus" (click)="del(productService.listProduct)"><i class="glyphicon glyphicon-minus">-</i></button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="delpopup(productService.listProduct)">Delete</button>
              </td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total Price</td>
            <td colspan="6" class="text-right">{{total | currency: 'VNĐ ' }}</td>
          </tr>
        </tfoot>
      </table>
    </div>