<div class="container">
  <h3>Create</h3>
<div class="form">
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="ProductID" #Name="ngModel" [(ngModel)]="productService.formData.ProductID">
  <div class="form-group">
    <label>Name</label>
    <input name="Name" #Name="ngModel" [(ngModel)]="productService.formData.Name" class="form-control" required>
    <div class="validation error" *ngIf="Name.invalid && Name.touched">This field is required</div>
  </div>
  <div class="form-group">
    <label>Brand</label>
    <input name="Brand" #Brand="ngModel" [(ngModel)]="productService.formData.Brand" class="form-control">
  </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Price</label>
        <input name="Price" #Price="ngModel" [(ngModel)]="productService.formData.Price" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Status</label>
        <input name="Status" #Status="ngModel" [(ngModel)]="productService.formData.Status" class="form-control">
      </div>
      
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <button [disabled]="!productForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
            <i class="fa fa-floppy-o"></i> Submit</button>
        </div>
        <div class="form-group col-md-6">
          <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(productForm)">
            <i class="fa fa-repeat"></i> Reset</button>
        </div>
      </div>
</form>
</div>
<div class="form">
  <h3>Product List</h3>
<table class="table table-hover">
    <tr>
      <td>Name</td>
      <td>Brand</td>
      <td>Price</td>
      <td>Status</td>
      <td></td>
    </tr>
    <tr *ngFor="let product of productService.listProduct">
      <td (click)="populateForm(product)"> 
        {{product.Name}}
      </td>
      <td (click)="populateForm(product)">
        {{product.Brand}}
      </td>
      <td (click)="populateForm(product)">
        {{product.Price}}
      </td>
      <td (click)="populateForm(product)">
        {{product.Status}}
      </td>
      <td><button (click)="onDelete(product.ProductID)" class="btn btn-sm btn-outline-danger">x</button></td>
    </tr>
  </table>
</div>
</div>